.card {
  display: flex;
  height: 25rem;
  width: 18rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.2);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  position: relative;
  transition: box-shadow 0.2s ease-in-out;
  background-color: #495052;
  margin: 0.5rem;
  border-radius: 0.5rem;
}

.card:hover {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 8px 24px rgba(0, 0, 0, 0.2);
}

.heading {
  text-align: center;
  color: #fff;
  margin-bottom: 1rem;
}

.name {
  font-size: 1.25rem;
  font-weight: 600;
}

.position {
  font-size: 0.875rem;
  font-weight: 400;
}

.testimonial {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}

/*responsive*/

@media (max-width: 768px) {
  .card {
    margin-left: 2.75rem;
    width: 20rem;
    height: 30rem;
  }
}
