.text-image-left {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  height: 100%;
  margin: 0 2rem;
}

.text-image-left__title {
  font-size: 3rem;
  font-weight: 700;
  margin-top: 1rem;
}
.text-image-left__text {
  width: 50%;
  margin: 0 1rem 0 2rem;
  text-align: justify;
}

.text-image-left__image {
  width: 45%;
  height: 25rem;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@media (max-width: 768px) {
  .text-image-left {
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    margin: 0 2rem;
  }

  .text-image-left__text {
    width: 100%;
    margin: 0 0 2rem 0;
  }

  .text-image-left__image {
    width: 100%;
  }
}
